#pauseOverlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s;
}

#pauseMenu {
    line-height: 2.75em;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    margin: 10% 37.5%;
    background-color: rgb(20,20,20);
    position: absolute;
    height: 50%;
    width: 25%;
    opacity: 0;
    z-index: -1; 
    transition: opacity 0.2s;
}
.button {
    text-align: center;
    flex: 0 0 40%;
    background-color: rgb(235,235,235);
    margin: 78% 5% 5% 5%;
    height: 15%;
    border-radius: 0.75em;
    transition: background-color 0.2s;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(195,195,195);
}
body {
    background-color: rgb(20,20,20);
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

#menubody{
    background-image: url("../Assets/Images/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.volume{
    outline: none;
}

#volume-on{
    width: 5%;
    height: 5%;
}

#volumeTrigger{
    position: absolute;
    display: none;
}

#icon{
    height:35%;
    width: 35%;
}

.icon-1{
    margin-top: 2%;
    margin-left: 41%;
}

#menu{
    display: block; 
    font-size: 2em;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*Neon*/
p {
    text-align: center;
    margin: 20px 0 20px 0;
  }
  
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  p a {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  p a:hover {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  /*glow for mozilla*/
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  

  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }

 #loading {
    position: absolute;
    font: 55px fantasy;
    transition: opacity 2.0s;
    margin-top: 10%;
    margin-left: 30%;
 }
 
 #loading-title {
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    transition: opacity  2.0s;
    opacity: 0;
 }
 
 #loading-animation {
    position: absolute;
    transition: opacity  2.0s;
    opacity: 0;
 }

#option{
    z-index: 1;
    background-color: rgb(0,0,0,0.8);
    width: 50%;
    height: 70%;
    position: absolute;
    margin-top: 5%;
    margin-left: 28%;
    display: none;
 }

 #changeLevel{
   width:10%;
   height: 50px;
   margin-left: 3%;
 }

 #changeLevelText{
    font-size: 3em;
    margin-top: 10%;
 }

 #close{
  width:15%;
  height: 15%;
  margin-left: 100%;
  position: absolute;
 }

 #menuscore{
  z-index: 2;
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  height: 70%;
  position: absolute;
  margin-top: 5%;
  margin-left: 28%;
  display: none;
}

#closeScore{
  width:15%;
  height: 15%;
  margin-left: 100%;
  position: absolute;
 }

#key{
  /* background-color: #FF1177;
  background-repeat: no-repeat; */
  position: absolute;
  width: 100%;
  height:50%;
  margin-top: 41%;
  z-index: 20;
}

input{
  margin-left: 5%;
  position: absolute;
  width:6.25%;
  height:20%;
  border:0;
  cursor:pointer;
  }
 #downArrow{
  top: 20%;
  position: absolute;
 }

 #upArrow{
   position: absolute;
 } 

 #shoot{
   left: 80%;
   position: absolute;
 }
 #addKnifeMan{
   top: 15%;
  left: 41%;
  position: absolute;
}
 #help{
  z-index: 2;
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  height: 70%;
  position: absolute;
  margin-top: 5%;
  margin-left: 28%;
  display: none;
}

#closeHelp{
  width:15%;
  height: 15%;
  margin-left: 100%;
  position: absolute;
 }

 #arena{
   z-index: 5;
   position: absolute;
   margin-top: -40%;
   margin-left: 20%;
   display: none;
   width: 300px;
   height: 200px;
   background-color: rgb(0,0,0,0.8);
 }
 #sound-and-music{
   margin-top: 5%;
   margin-left: 35%;
   font-family: 'Sniglet', cursive;
   font-size: 30px; 
   color: orange;
   
 }
 #sound-checkbox-div{
  margin-bottom: 5%;

 }

 #quit{
  margin-top: 7%;
 }

 .font-effect-fire-animation
{
   font-size: 20px; 
   margin-left : 0em;
}

#helptext{
  margin-top: 8%;
}

#lives{
  z-index: 5;
  margin-top: 3%;
  margin-left: 0%;
  width: 20%;
  height: 0%;
  position: absolute;
  float: left;
}
#scoreboard{
  z-index: 5;
  margin-top: 0%;
  margin-left: 0%;
  width: 20%;
  height: 0%;
  position: absolute;
  float: left;
}

#win{
  z-index: 5;
  margin-top: 20%;
  margin-left: 40%;
  width: 20%;
  height: 0%;
  position: absolute;
  font-size: 50px;
  display: none;
}

#lose{
  z-index: 5;
  margin-top: 20%;
  margin-left: 40%;
  width: 20%;
  height: 0%;
  position: absolute;
  font-size: 50px;
  display: none;
}s

#props {

  position: absolute;

  bottom: 0px;

  left: 100px;

  z-index: 1000;

  background: gainsboro;

  list-style: none;

  text-align: center;

}



#props li {

  position: relative;

  display: inline-block;

  height: 50px;

  width: 50px;

}



#props li span {

  position: absolute;

  padding: 2px;

  right: 2px;

  top: 2px;

  border-radius: 100%;

  background: gold;

}



#props li img {

  border: 2px solid gray;

  height: 100%;

  width: 100%;

  cursor: pointer;

}

#props li img.action {

  border: 3px solid green;

}